@tailwind base;
@tailwind components;
@tailwind utilities;

@layer basebase {
  .bgimg {
    display: grid;
    width: 100%;
    height: 100vh;
    background-image: url(img/splash.jpg);
    background-size: cover;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
  }

  h1,
  h2,
  h3 {
    font-family: elza-narrow, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  p,
  a {
    font-family: elza-narrow, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
